<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
  <title>icecube.daq.trigger.control</title>
<!--  $Id: package.html,v 1.2 2006/05/08 02:44:44 toale Exp $
  Copyright 2002, IceCube Collaboration.
  Originally created by : pat
-->
</head>
<body bgcolor="white"><p>Provides classes and interfaces that define the interaction of 
the trigger framework with DAQ control.
</p>

<p>
    This package contains the interfaces and implementing classes that tie the trigger
system into a DAQ component.
</p>
</body>
</html>
